body {
    font-family: "Ubuntu", sans-serif;
}
.bg-med{
    background-color: #2c4d4e;
}
.bg-darkish{
    background-color: #141E27;
}
.bg-accent{
    background-color: #7F95D1;
}
.bg-slightish{
    background-color: #D2D5DD;
}
.bg-lightish{
    background-color: #E8EBE4;
}
.text-med{
    color: #2c4d4e;
}
.text-dark{
    color: #141E27;
}
.text-accent{
    color: #7F95D1;
}
.text-xlightish{
    color: #D2D5DD;
}
.text-lightish{
    color: #E8EBE4;
}
.btn-accent{
    background-color: #7F95D1;
    color: white;
}
.btn-darkish{
    background-color: #141E27;
    color: white;
}
.btn-darkish:hover{
    background-color: #141E27;
    color: white;
}
.btn-accent:hover{
    background-color:#5a76C4;
    color: white;
}
.btn-lightish{
    background-color: #E8EBE4;
    color: #141E27;
}
.btn-lightish:hover{
    background-color: #d7dcd0;
}
.nav-module{
    background-color: #D2D5DD;
    color: #2c4d4e;
    font-size: 1.1em;
    font-weight: bold;
}
.nav-module:hover{
    background-color: #2c4d4e;
    color: white;
}
.nav-text{
    font-size: 1.2em;
    font-weight: bolder;
}
.jumbotron {
    margin:0;
    padding:30px;
    background: linear-gradient(to top, #141E27 0%,#2c4d4e  100%);
    color: white;
}
.bg-module{
    margin: 1em #141E27;
}
a:hover{
    text-decoration: none;
}
h1{
    font-size: 3em;
}
h1, h2{
    text-align: left
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height:200px;
}


